<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "car_app/css/car.css" %}">
    <title>Honda</title>
</head>
<body>
    <nav>
        <ul class='navigation'>
            <li><a href="{% url 'main' %}">Главная</a></li>
            <li><a href="{% url "toyota" %}">Toyota</a></li>
            <li><a href="{% url "renault" %}">Renault</a></li>
        </ul>
    </nav>

    <div class="content">

        <div class="intro">
            <h1>О компании {{ company }}</h1>
            <p>{{ description }}</p>
        </div>

        <img src="{% static "car_app/images/honda.jpg" %}" alt="">

        <div class="history">
            <h1>История</h1>
            <p>{{ history }}</p>
        </div>

        <div class="models">
            <h1>Популярные модели</h1>
            <ul class="car-models">
                {% for model in models %}
                <li>{{ model }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="innovations">
            <h1>Инновации</h1>
            <p>{{ innovations }}</p>
        </div>


        <div class="facts">
            <h1>Факты</h1>
            <ul class="car-facts">
                {% for fact in facts %}
                <li>{{ fact }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
</body>
</html>