<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>Добро пожаловать на сайт автомобилей!</h1>
    <nav>
        <ul>
            {% comment %} <li>Посмотреть информацию о машине <a href="{% url 'toyota' %}">Тойота</a></li>
            <li>Посмотреть информацию о машине <a href="{% url 'honda' %}">Хонда</a></li>
            <li>Посмотреть информацию о машине <a href="{% url 'renault' %}">Рено</a></li> {% endcomment %}
        </ul>
    </nav>
</body>
</html>