<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h1>Добро пожаловать на сайт автомобилей!</h1>
    <nav>
        <ul>
            <li>Посмотреть информацию о <a href="{% url 'toyota' %}">Toyota</a></li>
            <li>Посмотреть информацию о <a href="{% url 'honda' %}">Honda</a></li>
            <li>Посмотреть информацию о <a href="{% url 'renault' %}">Renault</a></li>
        </ul>
    </nav>
</body>
</html>